.ant-form-item.css-dev-only-do-not-override-14mkclz{
    margin-bottom: 0px;
}
.ant-row.ant-row-middle.css-dev-only-do-not-override-14mkclz{
    margin-bottom: 16px;
}
.ant-pagination.ant-table-pagination.ant-table-pagination-right.css-dev-only-do-not-override-14mkclz{
    display: none;
}